body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
}

#root {
    height: 100%;
}

.electron-button-container,
.app-footer-container {
    background-color: #eee;
}

.electron-count {
    font-size: 18pt;
    margin: 8pt;
}

.electron-button-container {
    display: grid;
    flex-shrink: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    height: 400px;
}

.electron-button {
    font-size: 20pt;
    font-weight: bold;
}

.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.centering-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
}

.item-store-container {
    flex: 1;
    padding: 8pt;
    display: block;
}

.item-store-title {
    margin-top: 0pt;
    margin-bottom: 8pt;
}

.item-store-table {
    width: 100%;
}

.app-footer {
    margin: 10pt;
}
